body {
  font-family: "Roboto", sans-serif;
}
ul.Languages {
  font-family: "Single Day", cursive;
  list-style-type: circle;
  list-style-type: square;
  list-style-type: none;
  list-style-type: lower-latin;
  list-style-type: georgian;

  list-style-image: url("../img/igloo-solid.svg");
}

h2 i {
  font-size: 30px;
}

.fa-solid {
  color: red;
}
ul.pseudo li {
  background-color: gray;
  font-weight: 700;
}
ul.pseudo li:first-child {
  color: blue;
}
ul.pseudo li:last-child {
  color: green;
}
ul.pseudo li:nth-child(5) {
  color: purple;
}
ul.pseudo li:nth-child(odd) {
  color: hotpink;
  background-color: lightgray;
}
ul.pseudo li:nth-child(even) {
  color: lightsalmon;
}
ul.pseudo li:hover {
  background-color: black;
  cursor: pointer;
}

ul.pseudo li:active {
  background-color: green;
}
ul.pseudo li:not(odd) {
  background-color: aqua;
}
